@using System.Data.SqlClient;
@using System.Configuration;
@using System.Data;

@{
    ViewBag.Title = "ViewUsuariosClientes";
}

<h2>Usuarios</h2>
@using (Html.BeginForm("guardarCliente", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Mi Cuenta </h4>
        <hr />


    </div>
}
@using (Html.BeginForm("guardarCliente", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Consultar estados de Cuenta </h4>
        <hr />


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Consultar" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div class="form-horizontal">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>DocIdCliente</th>
                <th>TipoCuenta</th>
                <th>Saldo</th>
                <th>FechaCreacion</th>
                <th>InteresesAcumulados</th>
                <th>Código Cuenta</th>
                <th>Activo</th>
            </tr>
        </thead>
        <tbody>
            @{
                SqlDataAdapter da;
                DataSet ds = new DataSet();
                SqlConnection con = new SqlConnection();
                con.ConnectionString = "data source=DESKTOP-2OQBEMO;initial catalog=BD_Cuentas;integrated security=True;MultipleActiveResultSets=True;";
                SqlCommand cmd = new SqlCommand("retornarCuentas", con);
                da = new SqlDataAdapter(cmd);
                da.Fill(ds);
                con.Open();
                cmd.ExecuteNonQuery();
                con.Close();
                if (!object.Equals(ds.Tables[0], null))
                {
                    if (ds.Tables[0].Rows.Count > 0)
                    {
                        for (int i = 0; i < ds.Tables[0].Rows.Count; i++)
                        {
                            <tr>
                                <th scope="row">@ds.Tables[0].Rows[i]["ID"]</th>
                                <td>@ds.Tables[0].Rows[i]["DocIdCliente"]</td>
                                <td>@ds.Tables[0].Rows[i]["TipoCuenta"]</td>
                                <td>@ds.Tables[0].Rows[i]["Saldo"]</td>
                                <td>@ds.Tables[0].Rows[i]["FechaCreacion"]</td>
                                <td>@ds.Tables[0].Rows[i]["InteresesAcumulados"]</td>
                                <td>@ds.Tables[0].Rows[i]["CodigoCuenta"]</td>
                                <td>@ds.Tables[0].Rows[i]["Activo"]</td>
                            </tr>
                        }


                    }
                }
            }


        </tbody>

    </table>

</div>
